.logo{
  height: 31px;
  background: #ffffff;
  border-radius: 6px;
  float: left;
  font-size: 18px;
}
.header{
    background:#ffffff;
    padding: 0 50px;
    height: 64px;
    line-height: 64px;
}
.layout{
    background-color: #ffffff;
    display: block !important;
}
.content{
   padding: 16px 16px;
   background: #f0f0f0;
   overflow: hidden;
}
.layout:after {
    clear: both;
    content: " ";
    display: table;
}
.grailLeft{
    float: left;
    width: 100%;
}
.grailRight{
    float: right;
}
.grailBorder{
    border-right: 8px solid #f6f6f6;
}