.headerMenu{
    float: right;
}

.headerUl{
    list-style: none;
}

.headerUl > li{
    width: 80px;
    height: 64px;
    float: left;
    box-sizing: border-box;
    margin-right: 16px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: 0.4s;
}

.headerUl > li:hover{
    background: #ecf6fd;
}

.headerUl > li > p{
    text-align: center;
    line-height: 62px;
    font-size: 14px;
}

.headerMenuActive{
    border-bottom: 2px solid #108ee9;
    color: #108ee9;
    font-weight: bold;
}

.recommendButton{
    width: 18%;
    overflow: hidden;
    float: left;
    height: 36px;
    padding: 6px 16px;
    background: #f6f6f6;
    margin-left: 2%;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 3px;
}
.recommendButton:hover{
    background: #ecf6fd;
}

.buttonIcon{
    width: 24px;
    line-height: 24px;
    float: left;
    text-align: center;
    font-size: 14px;
}
.buttonName{
    line-height: 24px;
    font-size: 13px;
    margin-left: 16px;
}
.indexContent{
    width: 100%;
    display: flex;
}
.contentRight{
    float: right;
    width: 260px;
    border-left: 1px solid #f0f0f0;
}
.contentLeft{
    flex: 1;
}
.contentCell{
    width: 100%;
    padding: 16px 16px;
}
.contentBorder{
    border-bottom: 8px solid #f6f6f6;
}
.contentCellShop{
    display: block;
    position: relative;
    padding: 16px 16px 16px 360px;
}
.borderABS{
    width: 8px;
    position: absolute;
    margin-left: -4px;
    height: 100%;
    background: #f6f6f6;
    top:0;
}
.contentCellShopList{
    width: 360px;
    padding: 0 16px;
    float: left;
    margin-left: -360px;
}
.contentCellShopChart{
    padding: 0 16px;
    width: 100%;
}
.newsGroup{
    padding: 8px 16px;
}
.contentCellTitle{
    line-height: 44px;
    font-size: 12px;
    font-weight: bold;
    color: #4d4d4d;
}
.data{
    height: 100px;
    background: #f6f6f6;
    border-radius: 3px;
    padding: 10px 16px;
}
.dataCell{
    width: 20%;
    float: left;
    height: 80px;
    text-align: center;
    cursor: pointer;
}
.dataCell > p:first-child{
    line-height: 60px;
    font-size: 24px;
    color: #108ee9;
}
.dataCell:hover > p:first-child{
    background: #108ee9;
    color: #ffffff;
}
.dataCell > p:last-child{
    line-height: 14px;
}
.dataCell > span{
    display: block;
    width: 100%;
    margin-top: 32px;
    color: #108ee9;
    text-align: center;
    font-size: 14px;
}
.indexShop{
    flex: 1;
}
.flex70{
    flex: 0 0 60%;
}
.flex30{
    flex: 0 0 30%;
}
.flexOne{
    flex: 1;
}
.flexThree{
    flex: 3;
}
.shopItem{
    display: block;
    padding: 8px 90px 8px 48px;
    height: 48px;
    margin: 8px auto;
    background: #f0f0f0;
    border-radius: 3px;
    cursor: pointer;
}
.shopItem:after{
    clear:both;
}
.shopItem:hover{
    box-shadow: 0 0 4px #108ee9;
    transform: scale(1.01);
}
.shopItem > img{
    width: 32px;
    float: left;
    margin-left: -40px;
    height: 32px;
    display: inline-flex;
    border-radius: 50%;
    border: 2px solid #108ee9;
}
.shopItem > p{
    width: 100%;
    line-height: 32px;
    padding: 0 8px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    float: left;
    max-width: 90%;
}

.shopItem > span{
    display: block;
    width: 90px;
    padding: 0 8px;
    line-height: 32px;
    margin-right: -90px;
    float: right;
}
.popOver > button{
    margin: 4px 4px;
}
.merchantInfo{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}
.merchantInfo >p{
    line-height: 24px;
}
.merchantHelp > p{
    height: 44px;
    padding: 6px 16px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
}
.merchantHelp > p:hover{
    color: #108ee9;
    background-color: #ecf6fd;
}
.merchantHelp > p > span{
    height: 32px;
    line-height: 32px;
    display: block;
    float: left;
}
.merchantHelp > p > i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: 16px;
    float: left;
    display: block;
    color: #108ee9;
}
.imageGroup{
    border-bottom: 1px solid #f0f0f0;
}
.imageItem{
    height: 120px;
    width: 100%;
}
.imageItem > img{
    height: 160px;
    width: 100%;
}
.newsList{
    list-style: none;
    padding: 8px 0;
}
.newsList > li{
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.newsList > li:hover{
    color: #108ee9
}
.newsList > li > span{
    line-height: 24px;
    color: red;
}
.contentFull{
    width: 100%;
}
.manageCardList > div{
    width: 18%;
    margin: 0 1%;
    float: left;
    cursor: pointer;
}
